<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>raffa</key>
	<string>https://geoweb.princeton.edu/people/simons/SOM/P020_030.txt</string>
	<key>xyz</key>
	<string>https://geoweb.princeton.edu/people/simons/SOM/P019.txt</string>
	<key>robin</key>
	<string>https://geoweb.princeton.edu/people/simons/SOM/P018_030.txt</string>
</dict>
</plist>
